@import "vars";
@import "vendor/reset";

html {
    font-size: 62.5%;
}


body {
    background-color: $white;
    font-size: 1.4rem;
    color: $black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}


// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/aboutMain";
@import "blocks/contact";
@import "blocks/btn";
@import "blocks/benefits";
@import "blocks/mains";
@import "blocks/events";
@import "blocks/resent";
@import "blocks/relevant";
@import "blocks/members";
@import "blocks/watch";
@import "blocks/sermons";
@import "blocks/visit";
@import "blocks/blog";
@import "blocks/footer";
