<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo">
                <img src="assets/images/logo.png" alt="">
            </div>

            <menu>
                <ul>
                    <li class="header__link"><a href="index.html">Home</a></li>
                    <li class="header__link"><a href="aboutUs.html">About us</a></li>
                    <li class="header__link"><a href="sermons.html">Sermons</a></li>
                    <li class="header__link"><a href="blog.html">Blog</a></li>
                </ul>
            </menu>

            <form action="contact.html">
                <button class="btn">Contact us</button>
            </form>
        </div>
    </div>
</header>
